/* a11y (https://github.com/paypal/bootstrap-accessibility-plugin) */
.btn:focus,
.btn.active:focus {
  outline: dotted 1px black;
}

.btn-primary:focus,
.btn-primary.active:focus,
.btn-success:focus,
.btn-success.active:focus,
.btn-info:focus,
.btn-info.active:focus,
.btn-warning:focus,
.btn-warning.active:focus,
.btn-danger:focus,
.btn-danger.active:focus,
.btn-soutenir:focus,
.btn-soutenir.active:focus {
  outline: dotted 1px white;
}

a:focus {
  outline: dotted 1px black;
}

.bg-primary a:focus,
a.bg-primary:focus {
  outline: dotted 1px white;
}

.close:hover, .close:focus {
  outline: dotted 1px black;
}

.nav > li > a:focus {
  outline: dotted 1px black;
}

cite {
  font-style:italic;
}
