h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.breadcrumb a,
a.btn,
a.label,
.nav-pills a,
.nav-container a,
.dropdown-menu a,
.nav a,
menu a { text-decoration:none !important;}

#mypads .container.ombre {
  margin-top:0;
  margin-bottom:0;
}

.modal-open .modal-backdrop {
  z-index: 9 !important;
}
