/* Anciennes classes *
 * Couleur des Framatitre */
.violet, .frama  { color: #6A5687; }
.orange, .soft   { color: #EB7239; }
.bleu, .logiciel { color: #0C5B7A; }
.rouge, .culture { color: #CC2D18; }
.vert, .services { color: #8E9C48; }
.jaune, .vrac  { color: #C48A1B; }

/* Classes pour utiliser la couleur de titre en arrière plan */
.fond-frama  { background-color: #6A5687; }
.fond-soft   { background-color: #EB7239; }
.fond-logiciel { background-color: #0C5B7A; }
.fond-culture  { background-color: #CC2D18; }
.fond-services { background-color: #8E9C48; }
.fond-vrac   { background-color: #C48A1B; }

/* Nouvelles classes *
 * f = frama violet ; v = vert ; b = bleu ; j = jaune ; r = rouge ; o = orange ; m = marron ; g = gris
 * fb_ = background ; fc_ = color */

/* Ref #6A5687 = RGB(106,86,135) = HSV(264,36,53) */
.fb_f0 { background-color: #EDE6F5;}
.fb_f1 { background-color: #D3C5E8;}
.fb_f2 { background-color: #B49CD9;}
.fb_f3 { background-color: #9876CC;}
.fb_f4 { background-color: #8157C2;}
.fb_f5 { background-color: #6A5687;} /* btn-primary */
.fb_f6 { background-color: #635182;}
.fb_f7 { background-color: #574778;}
.fb_f8 { background-color: #4E4070;}
.fb_f9 { background-color: #3E3363;}

.fc_f0 { color: #EDE6F5;}
.fc_f1 { color: #D3C5E8;}
.fc_f2 { color: #B49CD9;}
.fc_f3 { color: #9876CC;}
.fc_f4 { color: #8157C2;}
.fc_f5 { color: #6A5687;} /* .frama */
.fc_f6 { color: #635182;} /* a:hover */
.fc_f7 { color: #574778;}
.fc_f8 { color: #4E4070;}
.fc_f9 { color: #3E3363;}

/* Ref #8E9C48 = RGB(142,156,72) = HSV(70,54,61) */
.fb_v0 { background-color: #F4F7E9;}
.fb_v1 { background-color: #E3EBC7;}
.fb_v2 { background-color: #D2E0A6;}
.fb_v3 { background-color: #C0D481;}
.fb_v4 { background-color: #B3CC66;}
.fb_v5 { background-color: #8E9C48;} /* btn-success */
.fb_v6 { background-color: #7D8C3F;}
.fb_v7 { background-color: #677835;}
.fb_v8 { background-color: #52632A;}
.fb_v9 { background-color: #304219;}

.fc_v0 { color: #F4F7E9;}
.fc_v1 { color: #E3EBC7;}
.fc_v2 { color: #D2E0A6;}
.fc_v3 { color: #C0D481;}
.fc_v4 { color: #B3CC66;}
.fc_v5 { color: #8E9C48;} /* .services */
.fc_v6 { color: #7D8C3F;}
.fc_v7 { color: #677835;}
.fc_v8 { color: #52632A;}
.fc_v9 { color: #304219;}

/* Ref #0C5B7A = RGB(12,91,122) = HSV(197,90,48) */
.fb_b0 { background-color: #E1F8FC;}
.fb_b1 { background-color: #B2D5DB;}
.fb_b2 { background-color: #83C9D6;}
.fb_b3 { background-color: #58C3D6;}
.fb_b4 { background-color: #38BED6;}
.fb_b5 { background-color: #18B7D4;}
.fb_b6 { background-color: #16A7C4;}
.fb_b7 { background-color: #1290B0;}
.fb_b8 { background-color: #11809E;} /* btn-info */
.fb_b9 { background-color: #0C5B7A;}

.fc_b0 { color: #E1F8FC;}
.fc_b1 { color: #B2D5DB;}
.fc_b2 { color: #83C9D6;}
.fc_b3 { color: #58C3D6;}
.fc_b4 { color: #38BED6;}
.fc_b5 { color: #18B7D4;}
.fc_b6 { color: #16A7C4;}
.fc_b7 { color: #1290B0;}
.fc_b8 { color: #11809E;}
.fc_b9 { color: #0C5B7A;} /* a .logiciel */

/* Ref #C48A1B = RGB(196,168,27) = HSV(39,86,77) */
.fb_j0 { background-color: #FFF8E3;}
.fb_j1 { background-color: #FFEBB5;}
.fb_j2 { background-color: #FFDD82;}
.fb_j3 { background-color: #FFCF4F;}
.fb_j4 { background-color: #FFC529;}
.fb_j5 { background-color: #DBA306;} /* btn-soutenir */
.fb_j6 { background-color: #C48A1B;}
.fb_j7 { background-color: #C47E1B;}
.fb_j8 { background-color: #BA5D17;}
.fb_j9 { background-color: #A15014;}

.fc_j0 { color: #FFF8E3;}
.fc_j1 { color: #FFEBB5;}
.fc_j2 { color: #FFDD82;}
.fc_j3 { color: #FFCF4F;}
.fc_j4 { color: #FFC529;}
.fc_j5 { color: #DBA306;}
.fc_j6 { color: #C48A1B;} /* .vrac */
.fc_j7 { color: #C47E1B;}
.fc_j8 { color: #BA5D17;}
.fc_j9 { color: #A15014;}

/* Ref #CC2D18 = RGB(204,45,24) = HSV(7,88,80) */
.fb_r0 { background-color: #fde0dc;}
.fb_r1 { background-color: #f9bdbb;}
.fb_r2 { background-color: #f69988;}
.fb_r3 { background-color: #f36c60;}
.fb_r4 { background-color: #e84e40;}
.fb_r5 { background-color: #CC2D18;} /* btn-danger */
.fb_r6 { background-color: #C42D16;}
.fb_r7 { background-color: #B82E12;}
.fb_r8 { background-color: #AB2A0E;}
.fb_r9 { background-color: #AB2909;}

.fc_r0 { color: #fde0dc;}
.fc_r1 { color: #f9bdbb;}
.fc_r2 { color: #f69988;}
.fc_r3 { color: #f36c60;}
.fc_r4 { color: #e84e40;}
.fc_r5 { color: #CC2D18;} /* .culture */
.fc_r6 { color: #C42D16;}
.fc_r7 { color: #B82E12;}
.fc_r8 { color: #AB2A0E;}
.fc_r9 { color: #AB2909;}

/* Ref #EB7239 = RGB(235,114,57) = HSV(19,76,92) */
.fb_o0 { background-color: #FAEBE8;}
.fb_o1 { background-color: #EBD1C5;}
.fb_o2 { background-color: #EBB69D;}
.fb_o3 { background-color: #EB9B76;}
.fb_o4 { background-color: #EB8657;}
.fb_o5 { background-color: #EB7239;} /* btn-warning */
.fb_o6 { background-color: #DE6933;}
.fb_o7 { background-color: #D1602C;}
.fb_o8 { background-color: #C05827;}
.fb_o9 { background-color: #A8491D;}

.fc_o0 { color: #FAEBE8;}
.fc_o1 { color: #EBD1C5;}
.fc_o2 { color: #EBB69D;}
.fc_o3 { color: #EB9B76;}
.fc_o4 { color: #EB8657;}
.fc_o5 { color: #EB7239;} /* .soft */
.fc_o6 { color: #DE6933;}
.fc_o7 { color: #D1602C;}
.fc_o8 { color: #C05827;}
.fc_o9 { color: #A8491D;}

/* Ref #A1887F = RGB(161,136,127) = HSV(16,21,63) */
.fb_m0 { background-color: #efebe9;}
.fb_m1 { background-color: #d7ccc8;}
.fb_m2 { background-color: #bcaaa4;}
.fb_m3 { background-color: #a1887f;}
.fb_m4 { background-color: #8d6e63;}
.fb_m5 { background-color: #795548;}
.fb_m6 { background-color: #6d4c41;}
.fb_m7 { background-color: #5d4037;}
.fb_m8 { background-color: #4e342e;}
.fb_m9 { background-color: #3e2723;}

.fc_m0 { color: #efebe9;}
.fc_m1 { color: #d7ccc8;}
.fc_m2 { color: #bcaaa4;}
.fc_m3 { color: #a1887f;}
.fc_m4 { color: #8d6e63;}
.fc_m5 { color: #795548;} /* .signature */
.fc_m6 { color: #6d4c41;}
.fc_m7 { color: #5d4037;}
.fc_m8 { color: #4e342e;}
.fc_m9 { color: #3e2723;}

/* Ref #949494 = RGB(148,148,148) = HSV(0,0,58) */
.fb_g0 { background-color: #fafafa;} /* body */
.fb_g1 { background-color: #f5f5f5;}
.fb_g2 { background-color: #eeeeee;} /* .trait */
.fb_g3 { background-color: #e0e0e0;} /* footer */
.fb_g4 { background-color: #bdbdbd;} /* footer border */
.fb_g5 { background-color: #949494;}
.fb_g6 { background-color: #757575;}
.fb_g7 { background-color: #616161;}
.fb_g8 { background-color: #666666;}
.fb_g9 { background-color: #333333;}

.fc_g0 { color: #fafafa;}
.fc_g1 { color: #f5f5f5;}
.fc_g2 { color: #eeeeee;}
.fc_g3 { color: #e0e0e0;}
.fc_g4 { color: #bdbdbd;}
.fc_g5 { color: #949494;}
.fc_g6 { color: #757575;} /* muted */
.fc_g7 { color: #616161;} /* hn, footer hn */
.fc_g8 { color: #666666;}
.fc_g9 { color: #333333;} /* text */

.fc_light { color: #fff;}
.fc_dark { color: #333;}
