.label-default {
  background-color: #757575;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #757575;
}
.label-primary,
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #6A5687;
}
.label-success,
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #677835;
}
.label-info,
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #11809E;
}
.label-warning,
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #C05827;
}
.label-danger,
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #CC2D18;
}
