.alert-success a:not(.btn),
.alert-success a:hover:not(.btn),
.alert-success {
  color: #304219;
  background:#E3EBC7;
  border-color: #C0D481;
}
.alert-info a:not(.btn),
.alert-info a:hover:not(.btn),
.alert-info {
  color: #0C5B7A;
  background-color: #E1F8FC;
  border-color: #B2D5DB;
}
.alert-warning a:not(.btn),
.alert-danger a:hover:not(.btn),
.alert-warning {
  color: #A15014 !important;
  background-color: #FFEBB5;
  border-color: #FFCF4F;
}
.alert-danger a:not(.btn),
.alert-danger a:hover:not(.btn),
.alert-danger {
  color: #AB2909 !important;
  background-color: #fde0dc;
  border-color: #E0B3A8;
}
