.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #bdbdbd;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e0e0e0;
  border-color: #949494;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #bdbdbd;
}
.btn-default .badge {
  color: #fff;
  background-color: #757575;
}
.btn-primary {
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  background-color: #6A5687;
  border-color: #6A5687;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #635182;
  border-color: #635182;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #6A5687;
  border-color: #6A5687;
}
.btn-primary .badge {
  color: #6A5687;
  text-shadow: none;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  background-color: #677835;
  border-color: #677835;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #52632A;
  border-color: #52632A;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #677835;
  border-color: #677835;
}
.btn-success .badge {
  color: #677835;
  text-shadow: none;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  background-color: #11809E;
  border-color: #11809E;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #0C5B7A;
  border-color: #0C5B7A;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #11809E;
  border-color: #11809E;
}
.btn-info .badge {
  color: #0C5B7A;
  text-shadow: none;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  background-color: #EB7239;
  border-color: #EB7239;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #DE6933;
  border-color: #DE6933;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #EB7239;
  border-color: #EB7239;
}
.btn-warning .badge {
  color: #C05827;
  text-shadow: none;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  background-color: #CC2D18;
  border-color: #CC2D18;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #B82E12;
  border-color: #B82E12;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #CC2D18;
  border-color: #CC2D18;
}
.btn-danger .badge {
  color: #C42D16;
  text-shadow: none;
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a.btn-soutenir,
.btn-soutenir {
  color: #fff !important;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: #DBA306;
  border-color: #DBA306;
}
.navbar-default .navbar-nav > li > a.btn-soutenir:hover,
.navbar-default .navbar-nav > li > a.btn-soutenir:focus,
.navbar-default .navbar-nav > li > a.btn-soutenir:active,
.btn-soutenir:hover,
.btn-soutenir:focus,
.btn-soutenir:active,
.btn-soutenir.active,
.open > .dropdown-toggle.btn-soutenir {
  color: #fff;
  background-color: #C48a1b;
  border-color: #C48a1b;
}

.btn-link {
  font-weight: normal;
  color: #0C5B7A;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
      box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #635182;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #757575;
  text-decoration: none;
}
.btn-link .badge {
  color: #fff;
  text-shadow: none;
  background-color: #757575;
}
