.panel-primary { border-color: #6A5687; }
.panel-primary > .panel-heading { color: #fff; background-color: #6A5687; border-color: #6A5687; }
.panel-primary > .panel-heading + .panel-collapse > .panel-body { border-top-color: #6A5687; }
.panel-primary > .panel-heading .badge { color: #6A5687; }
.panel-primary > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #6A5687; }

.panel-success { border-color: #677835; }
.panel-success > .panel-heading { color: #fff; background-color: #677835; border-color: #677835; }
.panel-success > .panel-heading + .panel-collapse > .panel-body { border-top-color: #677835; }
.panel-success > .panel-heading .badge { color: #677835; }
.panel-success > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #677835; }

.panel-info { border-color: #11809E; }
.panel-info > .panel-heading { color: #fff; background-color: #11809E; border-color: #11809E; }
.panel-info > .panel-heading + .panel-collapse > .panel-body { border-top-color: #11809E; }
.panel-info > .panel-heading .badge { color: #11809E; }
.panel-info > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #11809E; }

.panel-warning { border-color: #EB7239; }
.panel-warning > .panel-heading { color: #fff; background-color: #EB7239; border-color: #EB7239; }
.panel-warning > .panel-heading + .panel-collapse > .panel-body { border-top-color: #EB7239; }
.panel-warning > .panel-heading .badge { color: #EB7239; }
.panel-warning > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #EB7239; }

.panel-danger { border-color: #CC2D18; }
.panel-danger > .panel-heading { color: #fff; background-color: #CC2D18; border-color: #CC2D18; }
.panel-danger > .panel-heading + .panel-collapse > .panel-body { border-top-color: #CC2D18; }
.panel-danger > .panel-heading .badge { color: #CC2D18; }
.panel-danger > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #CC2D18; }
